<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shuren.mapper.resume.CreditDetailMapper">

    <insert id="insert">
        INSERT INTO `credit_detail` ( `userId`, `buyId`, `type`, `assTypeId`, `assId`, `createTimeStamp`, `isDel`)
        VALUES
        (#{userId},
         #{buyId},
         #{type},
         #{assTypeId},
         #{assId},
         unix_timestamp(now())*1000 ,
         #{isDel});
    </insert>

</mapper>