<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shuren.mapper.wechat.OrderMapper">
    
    <select id="queryCountByOrderId" resultType="int">
        SELECT COUNT (*)
        FROM order o
        WHERE o.orderId = #{orderId};
    </select>

    <insert id="save">
        INSERT INTO
        `order` (
            `orderId`,
            `openId`,
            `money`,
            `paymentType`,
            `paymentTime`)
            VALUES (#{orderId},
            #{openId},
            #{money},
            #{paymentType},
            #{paymentTime});
    </insert>
   
</mapper>