<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shuren.mapper.resume.UserExtendinfoMapper">

	<insert id="add" parameterType="UserExtendInfo" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO user_extendinfo
			(userId, logo,  realName, sex,
			 birthday, tall, weight, nation, politics,
			 marry, contactPhone, contactEmail, idCard, residence, 
			 location, nowStatus, wishType, wishBusiness, wishJob, 
			 wishLocation, wishSalary, collegeName, specialities, graduationTime, 
			 collegeType, diplomas, degree, classDuty, studentDuty, 
			 scholarship, scholarshipRange, awards, awardsRange, awardsDes, 
			 internProject, internTime, internDuty, internDesc, hobby, 
			 honor, assessment, createTimeStamp, lastUpdateTimeStamp, isDel)
	    values
	    	(#{userId}, #{logo}, #{realName}, #{sex},
			 #{birthday}, #{tall}, #{weight}, #{nation}, #{politics},
			 #{marry}, #{contactPhone}, #{contactEmail}, #{idCard}, #{residence}, 
			 #{location}, #{nowStatus}, #{wishType}, #{wishBusiness}, #{wishJob}, 
			 #{wishLocation}, #{wishSalary}, #{collegeName}, #{specialities}, #{graduationTime}, 
			 #{collegeType}, #{diplomas}, #{degree}, #{classDuty}, #{studentDuty}, 
			 #{scholarship}, #{scholarshipRange}, #{awards}, #{awardsRange}, #{awardsDes}, 
			 #{internProject}, #{internTime}, #{internDuty}, #{internDesc}, #{hobby}, 
			 #{honor}, #{assessment}, unix_timestamp(now())*1000, unix_timestamp(now())*1000, 0)
	</insert>
	
	<select id="getOne" parameterType="java.util.Map" resultType="UserExtendinfo">
		SELECT 
			* 
		FROM 
			user_extendinfo 
		WHERE 
			userId = #{userId}
	</select>

	<update id="update" parameterType="UserExtendinfo">
		UPDATE 
			user_extendinfo 
		<set>
			<if test="logo != null">
				logo=#{logo},
			</if>
			<if test="score != null">
				score=#{score}, 
			</if>
			<if test="realName != null">
				realName=#{realName},
			</if>
			<if test="sex != null">
				sex=#{sex},
			</if>
			<if test="birthday != null">
				birthday=#{birthday},  
			</if>
			<if test="tall != null">
				tall=#{tall},
			</if>
			<if test="weight != null">
				weight=#{weight},
			</if>
			<if test="nation != null">
				nation=#{nation},
			</if>
			<if test="politics != null">
				politics=#{politics},
			</if>
			<if test="marry != null">
				marry=#{marry},
			</if>
			<if test="contactPhone != null">
				contactPhone=#{contactPhone},
			</if>
			<if test="contactEmail != null">
				contactEmail=#{contactEmail},
			</if>
			<if test="idCard != null">
				idCard=#{idCard},
			</if>
			<if test="residence != null">
				residence=#{residence},
			</if>
			<if test="location != null">
				location=#{location},
			</if>
			<if test="nowStatus != null">
				nowStatus=#{nowStatus},
			</if>
			<if test="wishType != null">
				wishType=#{wishType},
			</if>
			<if test="wishBusiness != null">
				wishBusiness=#{wishBusiness},
			</if>
			<if test="wishJob != null">
				wishJob=#{wishJob},
			</if>
			<if test="wishLocation != null">
				wishLocation=#{wishLocation},
			</if>
			<if test="wishSalary != null">
				wishSalary=#{wishSalary},
			</if>
			<if test="collegeName != null">
				collegeName=#{collegeName},
			</if>
			<if test="specialities != null">
				specialities=#{specialities},
			</if>
			<if test="graduationTime != null">
				graduationTime=#{graduationTime},
			</if>
			<if test="collegeType != null">
				collegeType=#{collegeType},  
			</if>
			<if test="diplomas != null">
				diplomas=#{diplomas},
			</if>
			<if test="degree != null">
				degree=#{degree},
			</if>
			<if test="classDuty != null">
				classDuty=#{classDuty},
			</if>
			<if test="studentDuty != null">
				studentDuty=#{studentDuty},
			</if>
			<if test="scholarship != null">
				scholarship=#{scholarship},
			</if>
			<if test="scholarshipRange != null">
				scholarshipRange=#{scholarshipRange},
			</if>
			<if test="awards != null">
				awards=#{awards},
			</if>
			<if test="awardsRange != null">
				awardsRange=#{awardsRange},
			</if>
			<if test="awardsDes != null">
				awardsDes=#{awardsDes},
			</if>
			<if test="internProject != null">
				internProject=#{internProject},  
			</if>
			<if test="internTime != null">
				internTime=#{internTime},
			</if>
			<if test="internDuty != null">
				internDuty=#{internDuty},
			</if>
			<if test="internDesc != null">
				internDesc=#{internDesc},
			</if>
			<if test="hobby != null">
				hobby=#{hobby},
			</if>
			<if test="honor != null">
				honor=#{honor},  
			</if>
			<if test="assessment != null">
				assessment=#{assessment},
			</if>
			lastUpdateTimeStamp=unix_timestamp(now())*1000 
		</set>
		<where>
			userId = #{userId}
		</where>	    
	</update>

</mapper>